.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  background-color: rgb(204, 252, 252);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
 padding: 12px;
}
a{
  color: rgb(251, 183, 36);
  font-family: fantasy;
  font-size: 28px;
  margin-top: 12px;
  text-decoration: none;

}
.img {
  background-image: url("../public/image/error.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  background-color: rgba(220, 251, 251, 0.362);
  display: inline-block;
  /* width: 0px; */
  /* height: 500px; */
  border: 7px groove rgb(248, 151, 151);
  border-radius: 8px;
  box-shadow: 12px 9px 6px grey;
}
label{
  display: inline-block;
  width: 200px;
  font-size: 20px;
  
}
div{
   padding: 10px;
}
input{
  padding: 12px;
  border-radius: 9px;
  color: rgb(75, 74, 74);
  font-family: monospace;
  font-size: 20px;
}
h1{
  font-family: serif;
  color: rgb(154, 80, 223);
  /* -webkit-box-reflect: below 10px; */

}
button{
  height: 30px;
  width: 80px;
  text-align: center;
  background-color: rgb(105, 247, 190);
  border-radius: 6px;
  border: 2px solid black;
  margin: 9px;
  font-family: cursive;
  color: rgb(95, 42, 4);
  
}
h3{
  color:rgba(91, 15, 3, 0.603);
  font-style:normal;
  font-size:32px ;
  font-family:monospace;
}
.select{
  width: 160px;
  height: 34px;
}
button{
  height: 30px;
  width: 130px;
  text-align: center;
  background-color: rgb(248, 247, 194);
  border-radius: 6px;
  border: 2px solid black;
  margin: 9px;
  font-size: 18px;
  font-family: cursive;
  color: rgba(28, 11, 0, 0.756);
  
}
.bottomLink{
  font-family: sans-serif;
  font-style: oblique;
  color:rgb(220, 12, 88);
  font-size: 18px;

}
p{
  
  color: blueviolet;
  font-size: 24px;
}